@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
:root {
    --main-body-color: #f4b32e ;
    --main-second-color: #f7f0f0 ;
    --main-thirt-color:rgba(244, 179, 46, .5);
    --font-family: "Poppins", sans-serif;
    --main-letter-color:#8c9198 ;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

 body {
    background-image: url('https://raw.githubusercontent.com/Paolav17/paolavargassoftwareengineer/main/sources/img/background.jpeg'),linear-gradient(rgba(157, 200, 203, 0.5), rgba(210, 217, 146, 0.5));
    background-blend-mode: overlay;
    font-family: var(--font-family);
    font-weight: 300;
    font-style: normal;
    /* overflow: hidden; */
}
section{
    width: 45em;
    max-width: 100%;
    max-height: 100%;
}
.section {
    display: none; 
}
.section.active {
    display: block; 
}
nav{
    display: none;
}
.dynamic-site{
    display: flex;
}
.image-media{
    display: none;
}

.main {
    padding: 0.2em 5em 0 10em;
    height: 96.5vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.dynamic-content {
    height: 50vh;
    display: flex;
    align-items: center
}


.intro__content,
.projects__content,
.contact__content {
    border-radius: 0 18px 18px 0 ;
    box-shadow: 10px 10px 20px #282727;
}

.intro__content 
,.projects__content
,.contact__content
{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    align-self: center;
    background-color: #f7f0f0;
    padding: 4em;
    height: 32em;
}

.intro__greeting-name{
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 1.5em;
    color: var(--main-body-color);

}
.intro__specialization{
    background-color: var(--main-thirt-color);
    margin-bottom: .2em;
    width: 100%;
    text-align: center;
}

.intro__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 5px;    
}

.intro__title {
    color: var(--main-body-color);
}
.intro__buttom{
    display: flex;
    gap: 5px; 
    padding: 5px;
    align-items: center;
}


.intro__logo_github
,.intro__logo_linkedin{
    width: 5em;
    padding: 1em ;
    filter: contrast(200%) drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease, filter 0.3s ease;
    
}
.intro__logo_github:hover
,.intro__logo_linkedin:hover{
    transform: scale(1.3);
    filter: brightness(1.5) ;
}

.intro__greeting, 
.projects__title, 
.contact__heading,
.header__link {
    color: #111;
    -webkit-text-stroke-width: 0.9px;
    text-align: center;
    margin: 0 1em 0 1em;
    padding-bottom: 1em;
}
.projects__content
,.contact__content{
    display: flex;
    height: auto;
}

.about__aside{
    background-color: var(--main-body-color);
    border-radius: 18px  0  0 18px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start ; 
}
.about__aside-img
,.image-media
{
    width: auto;
    height: 20em;
    border-radius: 10px 0  0 0 ;
}
.en{
    color: #E27D85;
}
.es{
    color: #f4b32e;
}
.check{
    position: relative;
    width: 50px;
    height: 25px;
    cursor: pointer;
}
.check:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: #b9a5a5;
    border-radius:25px ;
    transition: 0.25s;
}
.check:after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #f7f0f0;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #d96dc9;
    box-sizing: border-box;
}
.check:checked:after{
    left: 25px;
    border: 2px solid #eabcc6
}
.check:checked:before{
    background: #f4b32e;
}
.link
{
    text-decoration: none;
    text-align: center;
    font-weight: 800;  
    color: #ffff; 
    padding: 12px;
}

.about__nav-list li
{
    list-style: none;
    padding-bottom: 10%;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
.about__nav-list li a:hover{
    transform: scale(1.2);
    color: #C3DAD2;
}

.intro__link
{
    border: 0.4px var(--main-letter-color) solid;
    background-color: var(--main-body-color);
    border-radius: 10px;
    height: 2rem;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    font-weight: 300;
    color: #111;
    padding: 2px;
}
.intro__link{
    width: 70%;
}
.frontend{
    background-image: url(sources/img/logofrontend.png);
}
.wordpress{
    background-image: url(sources/img/logowordpress.png);
}
.dataAnalyst{
    background-image: url(sources/img/logodataanalyst.png);
}
.python{
    background-image: url(sources/img/logopython.png);
}

.projects__information{
    display: flex;
    align-items: center;
    min-height: 100vh;

}
.container_slide{
    width: 100%;
    max-width: 90%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    align-items: center;
}
.slide_list{
    width: 100%;
    height:  20em;
    overflow: auto;
    padding: 10px;
    box-shadow: 0px 7px 46px 0px rgba(0, 0, 0, 0.3);
    background-color: var(--main-body-color);
    border-radius: 8px;
    align-items: center;
}

.container_slide::-webkit-scrollbar {
    display: none !important;
}
.item_skill{
    width: 100%;
    height: auto;
    display: block;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: all 0.35s ease-in-out;
    opacity: 0;
    transform: scale(0.7);
    padding: 2em;
    background-size: cover;
}

.item_skill.item-hide{
    opacity: 0;
    transform: scale(0.7);
}
.item_skill.item-focus {
    opacity: 1;
    transform: scale(1);
}

.item_skill.item-next {
    opacity: 1;
    transform: scale(1);
}

.item_skill.item-next+.item_skill {
    opacity: 1;
    transform: scale(1);
}

.item_skill:last-child {
    margin-bottom: 155px;
}

.skill_name{
    font-size: large;
    font-weight: 700;
}

.skill_buttom
,.close_modal
,.close_modalWordpress
,.close_modalDataAnalyst
,.close_modalPython{
    border-radius: 10px;
    padding: 6px;
    margin: 10px;
    border: none;
    font-size: 1em;
    background-color: #E27D85
}
.skill_buttom:hover
,.close_modal:hover
,.close_modalWordpress:hover{
    background-color: var(--main-body-color);
}
.skill_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #111;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.6); 
    padding: 20px;
}


.contact__icon{
    display: grid;
    grid-template-columns: repeat(3, 7.7em);
    grid-template-rows: repeat(4, 4em);
    gap: 1.5em;
    justify-content: center;
}
.contact_ico{
    width: 6.5em;
    border-radius: 30px;
}

.ico_one{
    grid-row: 1;
    grid-column: 1;
}
.ico_two{
    grid-row: 1;
    grid-column: 2;
}
.ico_three{
    grid-row: 1;
    grid-column: 3;
}
.ico_four{
    grid-row: 3;
    grid-column: 1;
}
.ico_five{
    grid-row: 3;
    grid-column: 2;
}
.ico_six{
    grid-row: 3;
    grid-column: 3;
}
.ico{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #111;
    text-align: center;
}
.ico_desc{
    font-size: 13px;
    text-align: center;
}
.ico:hover{
    filter: brightness(150%);
    
    transition: filter 0.2s ease-in-out
}
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
.modal_frontend,
.modal_Wordpress,
.modal_DataAnalyst,
.modal_Pyton{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}
.modalFrontend--show{
    opacity: 1;
    pointer-events: unset;
}
.modal_container{
    margin: auto;
    width: 90%;
    max-width: 700px;
    max-height: 90%;
    border-radius: 10px;
    padding: 3em 2.5em;
}

.modal_containerFrontend {
    background-color: #eabcc6;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}
.modal_containerWordpress{
    background-color: #b4cfd0;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}
.modal_containerDataAnalyst{
    background-color: #f9d9b4;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}
.modal_containerPyton{
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}


.modal_projectOne
,.modal_projectTwo
,.modal_projectThree
,.modal_projectFour {
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    align-items: center;
}

.tittle_projectTwo
,.tittle_projectThree
,.projectThree_info
,.tittle_projectFour{
    text-align: center;
    font-size: 1em;
    margin: 1em;
}


.img_projectOne {
    width: 100%;
    max-width: 250px;
    display: block;
    margin: auto;
    border-radius: 10px;
}
.img_projectTwo
{
    height: 8em;
    width: auto;
    padding: 0.5em;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}
.img_projectFour{
    height: 10em;
    width: auto;
    padding:1em;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}
.img_projectTwo:hover{
    transform: scale(1.2); 
    cursor: pointer;
}

.project_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:  auto;

}
.project_details
,.modal_projectTwo
,.modal_projectThree
,.modal_projectFour{
    background-color: #f7f0f08f;
    border-radius: 10px;
    margin: 1em;
    padding: 0 1em;
}
.modal_projectFour{
    background-color: #9491918e;
    padding: 1em;
}
.project_icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

.logo_project {
    width: 50px;
    height: auto;
}

.aLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_containerTwo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.img_containerFour{
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.img_desc{
    font-style: italic;
    font-size: 1em;
    margin: 0 1em;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
    background: linear-gradient(to top, var(--main-body-color) , var(--main-thirt-color) );
}
.modalWordpress--show{
    opacity: 1;
    pointer-events: unset;
}
.modalDataAnalyst--show{
    opacity: 1;
    pointer-events: unset;
}
.modalPython--show{
    opacity: 1;
    pointer-events: unset;
}

@media (max-width: 1024px) {
    body{
        padding-top: 80px;
    }
    .main{
    }
    nav{
        display: flex;
    }
    .header__nav-list{
        display: flex;
        justify-content:center;
        align-content: center;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
        height: 5em;
        background: linear-gradient(to top,var(--main-body-color ),var(--main-thirt-color ));
    }
    .about__aside ul {
        display: block;     
    }
    .navIco{
        padding-top: 10px;
        height: 4em;
        width: auto;
        gap: 0;
    }
    .header__nav-list{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 1em 0 1em;
    }
    .header__nav-list a{
        text-decoration: none;
    }
    .header__nav ul li{
        list-style: none;
    }
    .header__nav-item{
        display: flex;
        justify-content: end;
        flex-direction: row;
    }
    .about__aside{
        display: none;
    }
    .image-media{
        display: flex;
        height: 18em;
        margin-bottom: 15%;
    }
    .dynamic-content{
        align-items: center;
    }
    .intro__content
    ,.projects__content
    ,.contact__content{
        height: auto;
        margin-top: 8em;
        /* max-height: 4px; */
        width: 100%;
        align-items: center;
        border-radius: 18px ;
        overflow: auto;
        margin: 5em 0;
    }
    .intro__info{
        max-height: 100vh;
    }
    .intro__greeting
    ,.intro__title
    ,.intro__specialization{
        margin: 0.2em;
    }
    .intro__description{
        font-size: 1.5em;
    }
    .container_slide
    , .contact__information
    {
        height: 65em;
        padding: 2em;
        z-index: 0;
    }
    .slide_list{
        height: 90%;
    }
    .contact__icon{
        display: grid;
        grid-template-columns: repeat(2, 9em);
        grid-template-rows: repeat(3, 10em);
        gap: 8em;
        justify-content: center;
        padding: 9em 0;
    }
    .contact_ico{
        width: 9.5em;
        border-radius: 30px;
    }
    
    .ico_one{
        grid-row: 1;
        grid-column: 1;
    }
    .ico_two{
        grid-row: 2;
        grid-column: 1;
    }
    .ico_three{
        grid-row: 3;
        grid-column: 1;
    }
    .ico_four{
        grid-row: 1;
        grid-column: 2;
    }
    .ico_five{
        grid-row: 2;
        grid-column: 2;
    }
    .ico_six{
        grid-row: 3;
        grid-column: 2;
    }

}


@media (min-width: 1920px){
    body{
        font-size: 0.8em;
        align-items: center;
    }
    .intro__content
    ,.projects__content
    ,.contact__content{
        height: auto;
        max-height: 55em;
        width: 200%;
        align-items: center;
        border-radius: 18px ;
        padding: 20px;
    }

    .about__aside{
        width: 30%;
    }
    .about__aside-img
    ,.image-media
    {
    width: auto;
    height: auto;
    max-width: 30em;
    max-height: 20em;
    }
    .intro__info{
        gap: 2em;
    }
    .link
    ,.intro__description
    ,.intro__specialization
    ,.intro__title
    ,.intro__greeting
    ,.skill_content
    ,.skill_name
    {
    font-size: 1.5em;
    }
    .skill_buttom{
        font-size: 1em;
    }
    .intro__logo_github
    ,.intro__logo_linkedin{
    width: 8em; 
    }
    .slide_list{
        height: 50em;
    }
    .contact__icon{
        display: grid;
        grid-template-columns: repeat(2, 15em);
        grid-template-rows: repeat(1fr 1fr 1fr);
        gap: 4em;
        align-items: center;
        align-self: center;
    }
    .contact__icon{
        padding: 10em 0;
        gap: 3em;
        width: auto;
        
    }
    

    
}
