@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
:root {
    --main-body-color: #f4b32e ;
    --main-second-color: #f7f0f0 ;
    --main-thirt-color:rgba(244, 179, 46, .5);
    --font-family: "Poppins", sans-serif;
    --main-letter-color:#8c9198 ;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

 body {
    background-image: url('https://raw.githubusercontent.com/Paolav17/paolavargassoftwareengineer/main/sources/img/background.jpeg'),linear-gradient(rgba(157, 200, 203, 0.5), rgba(210, 217, 146, 0.5));
    background-blend-mode: overlay;
    font-family: var(--font-family);
    font-weight: 300;
    font-style: normal;
    /* overflow: hidden; */
}
.section {
    display: none; /* Todas las secciones están ocultas */
}

.section.active {
    display: block; /* Solo la sección activa será visible */
}
nav{
    display: none;
}
.dynamic-site{
    display: flex;
}
.image-media{
    display: none;
}

.main {
    padding: 0.2em 5em 0 10em;
    height: 96.5vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.dynamic-content {
    height: 50vh;
    display: flex;
    align-items: center
}


.intro__content,
.projects__content,
.contact__content {
    border-radius: 0 18px 18px 0 ;
    box-shadow: 10px 10px 20px #282727;
}

.intro__content 
,.projects__content
,.contact__content
{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    align-self: center;
    background-color: #f7f0f0;
    padding: 4em;
    height: 32em;
}

.intro__greeting-name{
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 1.5em;
    color: var(--main-body-color);

}
.intro__specialization{
    background-color: var(--main-thirt-color);
    margin-bottom: .2em;
    width: 100%;
    text-align: center;
}

.intro__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 5px;    
}

.intro__title {
    color: var(--main-body-color);
}
.intro__buttom{
    display: flex;
    gap: 5px; 
    padding: 5px;
    align-items: center;
}


.intro__logo_github
,.intro__logo_linkedin{
    width: 5em;
    padding: 1em ;
    filter: contrast(200%) drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease, filter 0.3s ease;
    
}
.intro__logo_github:hover
,.intro__logo_linkedin:hover{
    transform: scale(1.3);
    filter: brightness(1.5) ;
}

.intro__greeting, 
.projects__title, 
.contact__heading,
.header__link {
    color: #111;
    -webkit-text-stroke-width: 0.9px;
    text-align: center;
    margin: 0 1em 0 1em;
    padding-bottom: 1em;
}
.projects__content
,.contact__content{
    display: flex;
    height: auto;
}

.about__aside{
    background-color: var(--main-body-color);
    border-radius: 18px  0  0 18px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start ; 
}
.about__aside-img
,.image-media
{
    width: auto;
    height: 20em;
    border-radius: 10px 0  0 0 ;
}

.link
{
    text-decoration: none;
    text-align: center;
    font-weight: 800;  
    color: #ffff; 
    padding: 12px;
}

.about__nav-list li
{
    list-style: none;
    padding-bottom: 10%;
    white-space: nowrap;
    display: flex;
    align-items: center;
}


.intro__link
{
    border: 0.4px var(--main-letter-color) solid;
    background-color: var(--main-body-color);
    border-radius: 10px;
    height: 2rem;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    font-weight: 300;
    color: #111;
    padding: 2px;
}
.intro__link{
    width: 70%;
}
.frontend{
    background-image: url(/sources/img/logofrontend.png);
}
.wordpress{
    background-image: url(/sources/img/logowordpress.png);
}
.dataAnalyst{
    background-image: url(/sources/img/logodataanalyst.png);
}
.python{
    background-image: url(/sources/img/logopython.png);
}

.projects__information{
    display: flex;
    align-items: center;
    min-height: 100vh;

}
.container_slide{
    width: 100%;
    max-width: 90%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    align-items: center;
}
.slide_list{
    width: 100%;
    height:  20em;
    overflow: auto;
    padding: 10px;
    box-shadow: 0px 7px 46px 0px rgba(0, 0, 0, 0.3);
    background-color: var(--main-body-color);
    border-radius: 8px;
    align-items: center;
}

.container_slide::-webkit-scrollbar {
    display: none !important;
}
.item_skill{
    width: 100%;
    height: auto;
    display: block;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: all 0.35s ease-in-out;
    opacity: 0;
    transform: scale(0.7);
    padding: 2em;
    background-size: cover;
}

.item_skill.item-hide{
    opacity: 0;
    transform: scale(0.7);
}
.item_skill.item-focus {
    opacity: 1;
    transform: scale(1);
}

.item_skill.item-next {
    opacity: 1;
    transform: scale(1);
}

.item_skill.item-next+.item_skill {
    opacity: 1;
    transform: scale(1);
}

.item_skill:last-child {
    margin-bottom: 155px;
}

.skill_name{
    font-size: large;
    font-weight: 700;
}

.skill_buttom{
    border-radius: 10px;
    padding: 6px;
    margin: 10px;
    border: none;
    font-size: medium;
    background-color: #E27D85
}
.skill_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #111;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.6); 
    
}


.contact__icon{
    display: grid;
    grid-template-columns: repeat(3, 7.7em);
    grid-template-rows: repeat(4, 4em);
    gap: 1.5em;
    justify-content: center;
}
.contact_ico{
    width: 6.5em;
    border-radius: 30px;
}

.ico_one{
    grid-row: 1;
    grid-column: 1;
}
.ico_two{
    grid-row: 1;
    grid-column: 2;
}
.ico_three{
    grid-row: 1;
    grid-column: 3;
}
.ico_four{
    grid-row: 3;
    grid-column: 1;
}
.ico_five{
    grid-row: 3;
    grid-column: 2;
}
.ico_six{
    grid-row: 3;
    grid-column: 3;
}
.ico{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #111;
    text-align: center;
}
.ico_desc{
    font-size: 13px;
    text-align: center;
}
.ico:hover{
    filter: brightness(150%);
    
    transition: filter 0.2s ease-in-out
}
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
    background: linear-gradient(to top, var(--main-body-color) , var(--main-thirt-color) );
}

.footer__text {
}


@media (min-width: 601px) and (max-width: 1024px) {
    body{
        overflow:scroll;
        padding: 2px;
    }
    .main{
        padding: 30em 2em 30em 2em;
    }
    nav{
        display: flex;
    }
    .header__nav-list{
        display: flex;
        justify-content:center;
        align-content: center;
        width: 100%;
        position: fixed;
        top: 0;
        background: linear-gradient(to top,var(--main-body-color ),var(--main-thirt-color ));
    }
    
    .header__nav a{
        text-decoration: none;
        margin: 100%;
        align-items: center;
    
    }
    .header__nav li{
        list-style: none;
        margin: 0 9% 0 4%;
    }
    .header__link{
        font-size:1.5em;
    }
    .header__link:hover{
        color:rgba(244, 46, 231, 0.5);
    }
    .about__aside{
        display: none;
    }
    .image-media{
        display: flex;
        box-shadow: 10px 10px 30px var(--main-body-color);
    }

    .intro__content,
    .about__content,
    .projects__content,
    .contact__content {
        overflow: hidden;
        width: 100%;
        display: block;
        margin: 1em 0;
        height: auto;
    }

    
    .intro__content{
        align-items: center;
        flex-direction:column;
    }
    .intro__description{
        width: 100%;
    }
    .intro__buttom{
        display:flex;
        flex-direction: column;
        padding: 0;
        margin: 0%;
    }
    .intro__link{
        width: 100%;
    }
    .intro__logo_github
    ,.intro__logo_linkedin{
    width: 2.5em;
    }
    .intro__greeting{
        padding: 25px;
    }
    .intro__link{
        height: 2em;
    }

    .footer__text {
    }


}



